---

################################################################################
# Network interfaces
################################################################################

# The protocol, hostname/IP and port the Vault server should listen on
#
# This may be overridden if the public Vault API endpoint is exposed via a load
# balancer on a different port/protocol.
bbcrd_vault_listen_protocol: "{{ bbcrd_vault_public_url | urlsplit('scheme') }}"
bbcrd_vault_listen_address: "0.0.0.0"
bbcrd_vault_listen_port: >-
  {{
    bbcrd_vault_public_url
      | urlsplit('port')
      | default(443 if bbcrd_vault_listen_protocol == "https" else 80)
      | int
  }}


# The Vault clustering API URL
bbcrd_vault_clustering_url: >-
  https://{{
    ansible_host | default(inventory_hostname)
  }}:8201


# The listening address and port used for the Vault clustering API endpoint.
#
# This may be overridden if the public Vault clustering API endpoint is exposed
# via a load balancer on a different port/protocol.
bbcrd_vault_clustering_address: "0.0.0.0"
bbcrd_vault_clustering_port: >-
  {{
    bbcrd_vault_clustering_url
      | urlsplit('port')
      | default(8201)
      | int
  }}


################################################################################
# Certificates
################################################################################

# If bbcrd_vault_listen_protocol is 'https', a certificate and key file must
# be specified
bbcrd_vault_tls_cert_file: "{{ bbcrd_vault_data_dir }}/tls.crt"
bbcrd_vault_tls_key_file: "{{ bbcrd_vault_data_dir }}/tls.key"


################################################################################
# Reverse proxies
################################################################################

# If not null, should be an array of CIDR address ranges which Vault should
# trust the X-Forarded-For headers from (e.g. any reverse proxy servers).
#
# For example, if running a reverse proxy on the same host this might be set to
#
#     bbcrd_vault_x_forwarded_for_authorized_addrs:
#       - "127.0.0.0/24"
bbcrd_vault_x_forwarded_for_authorized_addrs: null

################################################################################
# Web UI
################################################################################

bbcrd_vault_enable_ui: true

################################################################################
# Extra config
################################################################################

# Arbitrary extra configuration file content
bbcrd_vault_server_extra_config: ""
