{#
 # Derrived from the service file provided with official Vault Linux packages.
 # Specifically, it is based on:
 #
 # https://raw.githubusercontent.com/hashicorp/vault/v1.17.1/.release/linux/package/usr/lib/systemd/system/vault.service
 #
 # It may be sensible to check from time-to-time if the original version has
 # added/removed/changed any of the many options.
 #}
[Unit]
Description="{{ bbcrd_vault_binary }} - A tool for managing secrets"
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ bbcrd_vault_config_dir }}/config.hcl
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=notify
User={{ bbcrd_vault_user }}
Group={{ bbcrd_vault_group }}
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
NoNewPrivileges=yes
ExecStart={{ bbcrd_vault_install_dir }}/{{ bbcrd_vault_binary }} server -config={{ bbcrd_vault_config_dir }}/config.hcl
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
LimitNOFILE=65536
LimitMEMLOCK=infinity
LimitCORE=0
MemorySwapMax=0G

{% if bbcrd_vault_https_proxy is defined %}
Environment=HTTPS_PROXY={{ bbcrd_vault_https_proxy | quote }}
Environment=https_proxy={{ bbcrd_vault_https_proxy | quote }}
{% endif %}
{% if bbcrd_vault_http_proxy is defined %}
Environment=HTTP_PROXY={{ bbcrd_vault_http_proxy | quote }}
Environment=http_proxy={{ bbcrd_vault_http_proxy | quote }}
{% endif %}
{% if bbcrd_vault_no_proxy is defined %}
Environment=NO_PROXY={{ bbcrd_vault_no_proxy | join(",") | quote }}
Environment=no_proxy={{ bbcrd_vault_no_proxy | join(",") | quote }}
{% endif %}

[Install]
WantedBy=multi-user.target
