---

# Extra distribution packages required alongside vault
bbcrd_vault_required_packages: "{{ _bbcrd_vault_required_packages }}"

# Architecture name to use (as used in download URL)
bbcrd_vault_architecture_name: "{{ _bbcrd_vault_architecture_name }}"

# Vault ZIP download URL
bbcrd_vault_download_url: "{{ _bbcrd_vault_download_url }}"

# Force re-download and reinstall of Vault binary
bbcrd_vault_force_reinstall: false

# The following variables, if defined, will set up the Vault server to use the
# defined proxy server.
#
#bbcrd_vault_https_proxy: "http://..."
#bbcrd_vault_http_proxy: "http://..."
#bbcrd_vault_no_proxy: ["127.0.0.1", ...]
