[Unit]
Description=Create a snapshot of the vault database
Requires={{ bbcrd_vault_systemd_unit }}.service
After={{ bbcrd_vault_systemd_unit }}.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart={{ bbcrd_vault_backup_script | quote }} {{ bbcrd_vault_backup_location | quote }}

User={{ bbcrd_vault_backup_user | quote }}

Environment=NUM_BACKUPS={{ bbcrd_vault_backup_retention }}
Environment=ENCRYPTED_UNSEAL_KEYS_FILE={{ bbcrd_vault_config_dir | quote }}/encrypted_unseal_keys.json
Environment=VAULT_ADDR={{ bbcrd_vault_public_url | quote }}
Environment=APPROLE_MOUNT={{ bbcrd_vault_backup_approle_mount | quote }}
{% if bbcrd_vault_ca_path is defined %}
Environment=SSL_CERT_FILE={{ bbcrd_vault_ca_path | quote }}
{% endif %}

# Defines SECRET_ID
EnvironmentFile={{ bbcrd_vault_backup_auth_file | quote }}
