---

# Generate an ephemeral root token for the vault cluster using unseal keys.
#
# This playbook generates an ephemeral root token and is intended for
# interactive use. Root tokens should only for use in emergencies or unusual
# situations (e.g. any non-automated setup steps).
#
# The generated root token will be revoked when the playbook exits and will in
# any case have a lifetime limited by bbcrd_vault_root_token_ttl.

- name: Generate an ephemeral root token
  hosts: "{{ bbcrd_vault_cluster_ansible_group_name | default('vault') }}"
  become: "{{ bbcrd_vault_become | default(True) }}"

  tasks:
    - block:
        - name: Create ephemeral GnuPG environment for handling unseal keys
          import_role:
            name: bbcrd.vault.ephemeral_gnupg_home
          tags:
            - bbcrd_vault_ephemeral_gnupg_home
            # The molecule test suite uses its own GnuPG environment with its
            # own test keypairs.
            - molecule-notest

        - name: Decrypt unseal keys for root token generation
          import_role:
            name: bbcrd.vault.decrypt_unseal_keys

        - name: Obtain root token
          import_role:
            name: bbcrd.vault.generate_root

        - name: Run `vault login` on Ansible control node
          delegate_to: localhost
          become: false
          run_once: true
          tags: bbcrd_vault_login
          command:
            argv:
              - "{{ bbcrd_vault_binary | default('vault') }}"
              - login
              - "-"  # Read token from stdin
            stdin: "{{ bbcrd_vault_root_token }}"
          environment:
            VAULT_ADDR: "{{ bbcrd_vault_public_url }}"
            VAULT_CACERT: "{{ bbcrd_vault_ca_path | default('') }}"
          register: vault_login
        
        - name: Display vault login response
          run_once: true
          tags: bbcrd_vault_login
          debug:
            msg: "{{ vault_login.stdout_lines }}"

        - name: Wait for user to confirm finished with root token
          run_once: true
          pause:
            prompt: "Press enter to revoke root token {{ bbcrd_vault_root_token }}"

      always:
        - name: Revoke root token
          import_role:
            name: bbcrd.vault.generate_root
            tasks_from: revoke.yml
          tags:
            - always
            - bbcrd_vault_revoke_root_token
        
        - name: Clear any decrypted unseal keys
          import_role:
            name: bbcrd.vault.decrypt_unseal_keys
            tasks_from: clear.yml
          tags:
            - always
            - bbcrd_vault_clear_unseal_keys

        - name: Clean up ephemeral GnuPG environment
          import_role:
            name: bbcrd.vault.ephemeral_gnupg_home
            tasks_from: cleanup.yml
          tags:
            - always
            - bbcrd_vault_ephemeral_gnupg_home
