---

- name: Enable audit engine
  run_once: true
  bbcrd.vault.vault_audit:
    type: "{{ bbcrd_vault_audit_type }}"
    mount: "{{ bbcrd_vault_audit_mount }}"
    options: "{{ bbcrd_vault_audit_options }}"
    description: "{{ bbcrd_vault_audit_description }}"
    vault_url: "{{ bbcrd_vault_public_url }}"
    vault_namespace: "{{ bbcrd_vault_namespace }}"
    vault_token: "{{ bbcrd_vault_root_token }}"
    vault_ca_path: "{{ bbcrd_vault_ca_path | default(omit) }}"

- name: Create audit hash access policy
  bbcrd.vault.vault_policy:
    name: "{{ bbcrd_vault_audit_hash_policy_name }}"
    policy: |-
      # Hash arbitrary values using the audit engine's HMAC
      path "sys/audit-hash/{{ bbcrd_vault_audit_mount }}" {
        capabilities = ["create", "update"]
      }
    vault_url: "{{ bbcrd_vault_public_url }}"
    vault_namespace: "{{ bbcrd_vault_namespace }}"
    vault_token: "{{ bbcrd_vault_root_token }}"
    vault_ca_path: "{{ bbcrd_vault_ca_path | default(omit) }}"
