---
- run_once: true
  block:
    - name: Setup OIDC auth method
      bbcrd.vault.vault_auth_method:
        type: oidc
        mount: "{{ bbcrd_vault_oidc_mount }}"
        vault_url: "{{ bbcrd_vault_public_url }}"
        vault_namespace: "{{ bbcrd_vault_namespace }}"
        vault_token: "{{ bbcrd_vault_root_token }}"
        vault_ca_path: "{{ bbcrd_vault_ca_path | default(omit) }}"

    - name: Configure OIDC auth
      bbcrd.vault.vault_oidc_configure:
        config:
          oidc_discovery_url: "{{ bbcrd_vault_oidc_discovery_url }}"
          oidc_discovery_ca_pem: "{{ bbcrd_vault_oidc_ca_pem | default(omit) }}"
          oidc_client_id: "{{ bbcrd_vault_oidc_client_id }}"
          oidc_client_secret: "{{ bbcrd_vault_oidc_client_secret }}"
          default_role: "default"
        state: "{{ 'updated' if bbcrd_vault_oidc_force_update else 'present' }}"
        mount: "{{ bbcrd_vault_oidc_mount }}"
        vault_url: "{{ bbcrd_vault_public_url }}"
        vault_namespace: "{{ bbcrd_vault_namespace }}"
        vault_token: "{{ bbcrd_vault_root_token }}"
        vault_ca_path: "{{ bbcrd_vault_ca_path | default(omit) }}"

    - name: Configure default OIDC role
      bbcrd.vault.vault_oidc_roles:
        roles:
          default:
            user_claim: "{{ bbcrd_vault_oidc_user_claim }}"
            token_ttl: "{{ bbcrd_vault_oidc_token_ttl }}"
            token_max_ttl: "{{ bbcrd_vault_oidc_token_ttl }}"
            allowed_redirect_uris: "{{ bbcrd_vault_oidc_redirect_urls }}"
            oidc_scopes: "{{ bbcrd_vault_oidc_extra_scopes }}"
        mount: "{{ bbcrd_vault_oidc_mount }}"
        vault_url: "{{ bbcrd_vault_public_url }}"
        vault_namespace: "{{ bbcrd_vault_namespace }}"
        vault_token: "{{ bbcrd_vault_root_token }}"
        vault_ca_path: "{{ bbcrd_vault_ca_path | default(omit) }}"

    - name: Map OIDC end-users to Vault entities
      when: bbcrd_vault_oidc_user_claim_to_entity_name_mapping is not none
      bbcrd.vault.vault_auth_method_entity_aliases:
        mount: "{{ bbcrd_vault_oidc_mount }}"
        entity_aliases: "{{ bbcrd_vault_oidc_user_claim_to_entity_name_mapping }}"
        vault_url: "{{ bbcrd_vault_public_url }}"
        vault_namespace: "{{ bbcrd_vault_namespace }}"
        vault_token: "{{ bbcrd_vault_root_token }}"
        vault_ca_path: "{{ bbcrd_vault_ca_path | default(omit) }}"
