name: Run test suite

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false  # Tests suites are independent
      matrix:
        suite:
          - test_deployment
          - test_provisioning

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"  # Latest
      - name: Install test dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get remove -y containerd.io
          sudo apt-get install -y docker.io
          pip install -r requirements_test.txt
      - name: Run the test suite
        run: |
          molecule test -s ${{ matrix.suite }}
